@import url("https://fonts.googleapis.com/css2family=Cormorant:ital,wght@0,300..700;1,300..700&family=Roboto+Slab:wght@100..900&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";


@theme {
--color-dac-red-50: #fff1f1;
--color-dac-red-100: #ffe0e1;
--color-dac-red-200: #ffc7c8;
--color-dac-red-300: #ff9fa2;
--color-dac-red-400: #ff686c;
--color-dac-red-500: #fa393e;
--color-dac-red-600: #e81a1f;
--color-dac-red-700: #c31217;
--color-dac-red-800: #a11317;
--color-dac-red-900: #88171a;
--color-dac-red-950: #490608;
--color-dac-ash-50: #f5f5f1;
--color-dac-ash-100: #e6e7dd;
--color-dac-ash-200: #cfd1be;
--color-dac-ash-300: #b2b598;
--color-dac-ash-400: #999d78;
--color-dac-ash-500: #858862;
--color-dac-ash-600: #767856;
--color-dac-ash-700: #585841;
--color-dac-ash-800: #4b4b38;
--color-dac-ash-900: #424233;
--color-dac-ash-950: #24241a;

--font-robo: "Roberto+Slab", serif;
--font-cormo:"Cormorant", serif;
}

