@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-dacBlue-50: #ebfffe;
  --color-dacBlue-100: #cdffff;
  --color-dacBlue-200: #a2fdff;
  --color-dacBlue-300: #62f8fe;
  --color-dacBlue-400: #1be9f5;
  --color-dacBlue-500: #00ccdb;
  --color-dacBlue-600: #02a3b8;
  --color-dacBlue-700: #098295;
  --color-dacBlue-800: #126878;
  --color-dacBlue-900: #135666;
  --color-dacBlue-950: #042730;
  --color-dacRed-50: #fef2f3;
  --color-dacRed-100: #fee2e3;
  --color-dacRed-200: #fdcbce;
  --color-dacRed-300: #fba6ab;
  --color-dacRed-400: #f6737a;
  --color-dacRed-500: #ed464f;
  --color-dacRed-600: #da2831;
  --color-dacRed-700: #b71e26;
  --color-dacRed-800: #971d24;
  --color-dacRed-900: #7e1e23;
  --color-dacRed-950: #590e12;
  --color-dacSage-50: #f5f5f1;
  --color-dacSage-100: #e6e7dd;
  --color-dacSage-200: #cfd1be;
  --color-dacSage-300: #b2b598;
  --color-dacSage-400: #999d78;
  --color-dacSage-500: #858862;
  --color-dacSage-600: #767856;
  --color-dacSage-700: #585841;
  --color-dacSage-800: #4b4b38;
  --color-dacSage-900: #424233;
  --color-dacSage-950: #24241a;
}

@theme {
  --animate-fade-in: fadeIn .6s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer {
  .footer {
    text-align: center;
    padding: 3.75rem;
  }

  .socials-list {
    display: flex;
    justify-content: center;
  }

  .socials-list img {
    width: 2.18rem;
    margin: 1rem;
  }
}